@model IEnumerable<SharpAddress.Models.Contact>
@using SharpAddress.Services
@inject IImageService _imageService
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row mb-3">

    @foreach (var item in Model)
    {
        <div class="col-sm-4 mb-3">

            <div class="card h-100 mb-3 bg-secondary shadow-lg animate__animated animate__bounceIn" style="width:18rem;">
                <img class="card-img-top img-fluid" src="@_imageService.DecodeImage(item.ProfilePicture,item.ContentType)" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)

                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Address1)

                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.HomePhone)

                    </p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Email)
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }


</div>